<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spam Detector</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1 class="my-4 text-center">Spam Detector Model</h1>
    <form class="form-group text-center" action="/classify-message" method="POST">
        <label class="mb-2" for="message">Enter a message:</label>
        <br />
        <!-- <input id="message" type="text" name="message" /> -->
        <textarea class="my-2" id="message" name="message" rows="4" cols="50"></textarea>
        <br />
        <input class="my-2 btn btn-primary btn-lg" type="submit" />
    </form>
</body>

</html>